body {
  font-family: Arial, sans-serif;
  background-color: ;
}

/******************************/

#services,
#portfolio,
#faq,
#contact {
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: blue;
}

h4,
h5,
h6 {
  color: rgb(80, 80, 167);
}

p {
  font-size: 18px;
  color: blac;
}

/* src/styles/home.css*/
.hero {
  background: url("https://via.placeholder.com/1920x600") no-repeat center
    center/cover;
  padding: 100px 0;
}
.portfolio {
  background: #f8f9fa;
}

/* src/styles/hero.css */
.hero {
  background: url("https://via.placeholder.com/1920x600") no-repeat center
    center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/*About*/
section .about {
}

/*Footer*/

footer {
  background-color: black;
  color: white;
}

footer p {
  margin: 1px 0; /* Diminui a margem entre os parágrafos */
  font-size: 12px;
}

/* Whatsapp button*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.whatsapp-button i {
  font-size: 30px;
  color: white;
}

.whatsapp-button:hover {
  background-color: #1ebe5d;
}
